<div class="mt-4">
  <form>
    <div class="form-group">
      <label for="search-input">Từ khóa</label>
      <input type="text" name="q" class="form-control" id="search-input" placeholder="Nhập từ khóa">
    </div>
    <div class="form-group">
      <label for="author-input">Tác giả</label>
      <input type="text" name="author" class="form-control" id="author-input" placeholder="Nhập tên tác giả">
    </div>

    <button type="submit" class="btn btn-primary">Tìm kiếm</button>
  </form>

  {{#if q}}
    <div>Keyword: {{q}}</div>
    <div>Author: {{author}}</div>
  {{/if}}
</div>